body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.home-btn {
    padding: 6px 12px;
    background-color: #6fa8dc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.home-btn:hover {
    background-color: #3d85c6;
}

h1 {
    margin: 0;
    font-size: 20px;
}

.table-container {
    overflow-x: auto;
}

#schedule-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#schedule-table th, #schedule-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    overflow: hidden;
}

#schedule-table thead th {
    background-color: #ddd;
    position: sticky;
    top: 0;
    z-index: 1;
}

.fixed-column {
    position: sticky;
    left: 0;
    background-color: #f0f0f0;
    font-weight: bold;
    z-index: 2;
}

.separator td {
    background-color: #f9f9f9;
    height: 5px;
    padding: 0;
    border: none;
}

/* Выходные */
td.work-0 {
    background-color: #fff7a8;
}

/* Сегодня */
td.today {
    outline: 2px solid #ff9900;
}
